body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.about-container {
    text-align: center;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}
.about-container::before {
    content: "";
    position: absolute;
    background: linear-gradient(
            217deg,
            rgba(229, 255, 0, 0.8),
            rgba(255, 0, 0, 0) 70.71%
        ),
        linear-gradient(
            127deg,
            rgba(21, 255, 0, 0.8),
            rgba(0, 255, 0, 0) 70.71%
        ),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    top: 0%;
    left: 0;
    width: 200%;
    animation: bgtranslate 5s infinite ease-in;
    height: 100%;
    z-index: -1;
}
.about-text {
    font-size: 18px;
}
.about-heading {
    padding: 10px 0;
    font-size: 40px;
}
@keyframes bgtranslate {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
