.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-container {
    text-align: center;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}
.about-container::before {
    content: "";
    position: absolute;
    background: linear-gradient(
            217deg,
            rgba(229, 255, 0, 0.8),
            rgba(255, 0, 0, 0) 70.71%
        ),
        linear-gradient(
            127deg,
            rgba(21, 255, 0, 0.8),
            rgba(0, 255, 0, 0) 70.71%
        ),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    top: 0%;
    left: 0;
    width: 200%;
    -webkit-animation: bgtranslate 5s infinite ease-in;
    animation: bgtranslate 5s infinite ease-in;
    height: 100%;
    z-index: -1;
}
.about-text {
    font-size: 18px;
}
.about-heading {
    padding: 10px 0;
    font-size: 40px;
}
@-webkit-keyframes bgtranslate {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes bgtranslate {
    0% {
        transform: translatey(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
/* ############################ card #################################### */
.card-icon {
    width: 100px;
    font-size: 90px;
    transition: all 1s;
}
.card {
    overflow: hidden;
    height: 450px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
    border: 0;
    width: 300px !important;
    flex-shrink: 0;
    position: relative;
}
.card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
    background-color: rgb(235, 232, 91);
}
.card.orange {
    border-top: 20px solid #f18805;
}
.card.blue {
    border-top: 20px solid #1556c6;
}
.card.green {
    border-top: 20px solid #248232;
}
.card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 0;
    height: 50%;
    width: 100%;
    transition: all 0.7s ease;
}
.card.orange::before {
    background-image: url("../../images/o.png");
    background-size: contain;
}
.card.blue::before {
    background-image: url("../../images/Webp.net-resizeimage.png");
    background-size: contain;
}
.card.green::before {
    background-image: url("../../images/g.png");
    background-size: contain;
}
.card:hover::before,
.selected::before {
    height: 100% !important;
    top: -5%;
}
.card-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.card-txt {
    font-size: 30px;
    font-weight: bold;
    transition: all 1s;
    position: relative;
    padding-bottom: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.card-txt::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    transition: transform 500ms;
    transform: scalex(0.5);
    left: calc(50% - 50px);
    border-bottom: 5px solid black;
}
.card:hover .card-txt::after,
.selected .card-txt::after {
    transform: scalex(0.9);
}
.card:hover .card-txt,
.card:hover .card-icon,
.selected .card-txt,
.selected .card-icon {
    transform: translatey(-20px);
}
.card-change-text {
    padding: 20px 0;
    transform: translatex(calc(-60% + var(--x) / 10));
}
#text {
    font-size: 20px;
}
#text1 {
    margin: 0 10vh;
}
br {
    display: block;
    content: "";
    margin-top: 10px;
}
.curriculum-container {
    background-color: rgb(3, 103, 121);
    color: white;
    margin: 0 50px;
    padding: 20px 50px;
    margin-top: 50px;
    position: relative;
}
.border-anim {
    background-image: linear-gradient(90deg, #3dee2e 50%, transparent 50%),
        linear-gradient(90deg, #3dee2e 50%, transparent 50%),
        linear-gradient(0deg, #3dee2e 50%, transparent 50%),
        linear-gradient(0deg, #3dee2e 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 30px 4px, 30px 4px, 4px 30px, 4px 30px;
    padding: 20px 20px;
    background-position: left top, right bottom, left bottom, right top;
    -webkit-animation: border-dance 0.2s infinite linear;
    animation: border-dance 0.2s infinite linear;
}
.heading-c {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 50px;
}
.heading-c-text {
    margin: 0 auto;
    font-size: 40px;
    font-family: "Roboto Slab", serif;
    letter-spacing: 4px;
    position: relative;
    background-color: transparent;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    z-index: 1;
}
.heading-c-text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: calc(100% + 40px);
    z-index: -1;
    height: 50%;
    background-color: #67d05e;
}
.text-c {
    font-size: 20px;
    padding: 0 10px;
}

.ul-text {
    text-align: center;
    margin: 50px auto;
    font-size: 24px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-bottom: 10px;
    border-bottom: 2px pink solid;
}
.li {
    font-size: 22px;
    width: 70%;
    margin: 0 auto;
    list-style: none;
    position: relative;
}
.li::before {
    position: absolute;
    left: -20px;
    top: -10%;
    transform: scale(1.1);
    content: "\00BB";
}
.li:nth-child(even) {
    color: greenyellow;
    transform: translatex(50px);
}
.margin {
    padding: 0 10%;
}
.height-c {
    text-align: center;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2367d05e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2367d05e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.beyond-curr-container {
    display: flex;
    margin: 50px 0px;
    padding: 10px 0;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.beyond-curr-container::before {
    background: rgba(130, 197, 29, 0.2);
    content: "";
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
}
.text-bc {
    text-align: center;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    width: 80%;
    color: white !important;
    padding: 20px;
    margin: 20px auto;
}
.text-bc::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -2;
    background-attachment: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.text-bc::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -3;
    background-attachment: fixed;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    bottom: 0;
    background: rgb(230, 243, 210);
}
.beyond-curr-container::after {
    content: "";
    width: 4px;
    background-color: rgb(70, 72, 201);
    top: 0;
    z-index: -1;
    height: 100%;
    position: absolute;
}
.list-container {
    width: 910px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 50px;
}
.second-bc {
    transform: translatey(60px);
    text-align: left;
}
.li-bc {
    margin-bottom: 60px;
    position: relative;
    font-size: 20px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 20%, rgb(70, 72, 201) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-align: center;
}
.li-bc::before {
    width: 250px;
    height: 4px;
    background-color: rgb(70, 72, 201);
    bottom: -10px;
    left: -11px;
    position: absolute;
    content: "";
}
.li-bc::after {
    content: "";
    position: absolute;
    width: 13px;
    left: 58px;
    bottom: -15px;
    height: 13px;
    background: rgb(70, 72, 201);
    border-radius: 60px;
}
.second-bc .li-bc::after {
    left: 230px;
}
.first-bc .li-bc {
    transform: translatex(80px);
}
.first-bc .li-bc::before {
    width: 250px;
    height: 4px;
    left: 64px;
    position: absolute;
    content: "";
}
@-webkit-keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right top;
    }
    100% {
        background-position: left 30px top, right 30px bottom, left bottom 30px,
            right top 30px;
    }
}
@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right top;
    }
    100% {
        background-position: left 30px top, right 30px bottom, left bottom 30px,
            right top 30px;
    }
}
@media screen and (max-width: 1390px) {
    .ul-text {
        width: 90%;
    }
}
@media screen and (max-width: 1281px) {
    .card-container {
        width: 100%;
    }
}
@media screen and (max-width: 1100px) {
    #heading {
        font-size: 25px;
    }
    .card-txt {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .card-icon {
        font-size: 50px;
        width: 60px;
    }
    .card {
        height: 360px;
    }
    .card-txt::after {
        border-bottom-width: 3px;
    }
    .ul-text {
        margin-left: 50px;
        margin-right: 0;
        align-self: center;
    }
    .text-c {
        font-size: 18px;
    }
    .large-c {
        font-size: 17px;
    }
    .li {
        font-size: 15px;
    }
}
@media screen and (max-width: 910px) {
    .list-container {
        width: 700px;
    }
    .li-bc {
        font-size: 15px;
    }
    .li-bc::before {
        left: -10px;
    }
    .first-bc .li-bc::before {
        left: -28px;
    }
}
@media screen and (max-width: 878px) {
    .card {
        height: 250px;
    }
    .card-icon {
        font-size: 40px;
        width: 50px;
    }
    #text1 {
        margin: 0 5vh;
    }
    .li-bc::before {
        width: 200px !important;
        left: -10px;
    }
    .first-bc .li-bc::before {
        left: 20px;
    }
    .li-bc::after {
        left: 17px;
    }
    .second-bc .li-bc::after {
        left: 187px;
    }
    .ul-text {
        margin-left: 20px;
        align-self: center;
    }
    .text-c {
        font-size: 15px;
    }
    .large-c {
        font-size: 12px;
    }
    .li {
        font-size: 13px;
        margin: 0;
        width: 90%;
    }
    .li:nth-child(even) {
        transform: translatex(20px);
    }
}
@media screen and (max-width: 818px) {
    .card-txt {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .card {
        height: 200px;
        margin: 0 10px;
    }
}
@media screen and (max-width: 700px) {
    .list-container {
        width: 500px;
    }
    .first-bc {
        transform: translateX(-76px);
    }
    .second-bc {
        transform: translate(16px, 60px);
    }
    .li-bc {
        font-size: 12px;
    }
    .first-bc,
    .second-bc {
        font-size: 10px;
    }
}
@media screen and (max-width: 688px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        transform: scale(0.8);
    }
    .text-c {
        font-size: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .heading-c-text {
        font-size: 30px;
    }
    .large-c {
        font-size: 10px;
    }
    .li {
        font-size: 9px;
    }
    .card-txt {
        font-size: 15px;
        padding-bottom: 5px;
    }
    .card-icon {
        font-size: 30px;
        width: 40px;
    }
    .card-txt::after {
        width: 50px;
        left: calc(50% - 25px);
    }
    .card {
        height: 150px;
        margin: 0 10px;
    }
    .card-txt::after {
        border-bottom-width: 2px;
    }
    #text1 {
        margin: 0 0vh;
    }
    .li::before {
        left: -11px;
        top: -3%;
    }
}
@media screen and (max-width: 552px) {
    .about-text {
        font-size: 13px;
    }
    .card-txt {
        font-size: 10px;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        transform: scale(0.5);
    }
    .heading-c-text {
        font-size: 20px;
    }
    .card-icon {
        font-size: 20px;
        width: 30px;
        text-align: center;
    }
    .card-txt::after {
        border-bottom-width: 1px;
        width: 30px;
        left: calc(50% - 15px);
    }
    #heading,
    .about-heading {
        font-size: 18px;
    }
    #text {
        font-size: 14px;
    }
    #text1 {
        font-size: 12px;
    }
    .heading-c-text {
        font-size: 20px;
    }
    .curriculum-container {
        margin: 0;
        margin-top: 50px;
    }
}
@media screen and (max-width: 500px) {
    .list-container {
        width: 300px;
    }
    .curriculum-container {
        padding: 20px 10px;
    }
    .li-bc::before {
        width: 150px !important;
    }
    .first-bc {
        transform: translateX(-99px);
    }
    .second-bc {
        transform: translate(32px, 60px);
    }
    .second-bc .li-bc::after {
        left: 139px;
    }
    .text-bc {
        width: 100%;
        border-radius: 0;
    }
}
@media screen and (max-width: 422px) {
    .card-txt {
        font-size: 8px;
    }
}
@media screen and (max-width: 362px) {
    .card {
        padding: 0;
    }
    .about-text {
        font-size: 11px;
    }
    #heading,
    .about-heading {
        font-size: 14px;
    }
    #text {
        font-size: 11px;
    }
    #text1 {
        font-size: 9px;
    }
    .second-bc {
        width: 150px;
        transform: translate(0px, 60px);
    }
}
@media screen and (max-width: 362px) {
    .green {
        margin-right: 0 !important;
    }
    .orange {
        margin-left: 0 !important;
    }
}
