img {
    width: 100%;
}
.row {
    padding: 0;
    margin: 0;
}
/* Create a sticky/fixed navbar */
#navbar {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 165px;
    /* Large padding which will shrink on scroll (using JS) */
    transition: padding 0.4s; /* Adds a transition effect when the padding is decreased */
    position: -webkit-sticky;
    position: sticky; /* Sticky/fixed navbar */
    top: 0; /* At the top */
    width: 100%;
    z-index: 2;
}
/* Style the navbar links */
#navbar a {
    color: black;
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 6px;
}
#navbar-right a {
    margin-right: 20px;
}
.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* Style the logo */
#navbar .logo {
    display: inline-block;
    text-align: center;
}
.align_items {
    align-items: center;
    transition: all 2s;
    max-height: 1000px;
}
/* Links on mouse-over */
#navbar a:hover {
    background-color: #ddd;
}

/* Style the active/current link */
#navbar a.active {
    background-color: dodgerblue;
    color: white;
}

/* Display some links to the right */

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */

/* Container holding the image and the text */
.img-cont {
    position: relative;
    overflow: hidden;
    max-width: 300px;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.smallmine {
    margin-bottom: 50px;
}
.logosmall {
    width: 300px;
}
.smallheight {
    height: 124px !important;
}
.container-ham {
    margin-top: 62.5px;
    align-self: flex-start;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.height {
    height: 100% !important;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.hide {
    opacity: 0;
    position: absolute;
    transition: none;
    pointer-events: none;
}
.container-ham.hide {
    display: none;
}
@media screen and (max-width: 877px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
    #navbar a {
        display: block;
        margin: 0;
        text-align: center;
    }
    #navbar-right {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .logo {
        width: 350px;
    }
}
/* ####################################### gallery ############################################ */
.grid-container {
    --coulmbs: 3;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(var(--coulmbs), minmax(0, 1fr));
}
.images {
    display: grid;
    align-content: flex-start;
    grid-gap: 20px;
    grid-template-columns: minmax(0, 1fr);
}
.image {
    filter: grayscale(1);
    transition: all 500ms;
    position: relative;
}
.image::before {
    content: "";
    width: 110%;
    height: 100%;
    transform: scaley(0);
    transition: all 500ms;
    top: 0%;
    left: -5%;
    position: absolute;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
}
.image::after {
    content: "";
    width: 100%;
    height: 100%;
    transform: scalex(0);
    transition: all 500ms;
    left: 0%;
    top: 0%;
    position: absolute;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
}
.image:hover {
    filter: grayscale(0);
}
.image:hover::after {
    transform: scalex(0.9);
}
.image:hover::before {
    transform: scaley(0.9);
}
