<<<<<<< HEAD

=======
img {
    width: 100%;
}
.row {
    padding: 0;
    margin: 0;
}
>>>>>>> refs/remotes/origin/master
/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 9px 1px; /* Large padding which will shrink on scroll (using JS) */
    transition: padding 0.4s; /* Adds a transition effect when the padding is decreased */
    position: -webkit-sticky;
    position: sticky; /* Sticky/fixed navbar */
    top: 0; /* At the top */
    width: 100%;
    z-index: 2;
}
/* Style the navbar links */
#navbar a {
    color: black;
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 6px;
}
#navbar-right a {
    margin-right: 20px;
}
/* Style the logo */
#navbar .logo {
    display: inline-block;
    text-align: center;
}
.align_items {
    align-items: center;
}
/* Links on mouse-over */
#navbar a:hover {
    background-color: #ddd;
}

/* Style the active/current link */
#navbar a.active {
    background-color: dodgerblue;
    color: white;
}

/* Display some links to the right */

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 877px) {
    #navbar {
        flex-direction: column;
    }
    #navbar a {
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
}

<<<<<<< HEAD




=======
>>>>>>> refs/remotes/origin/master
/* Container holding the image and the text */
.img-cont {
    position: relative;
    overflow: hidden;
<<<<<<< HEAD
    max-width: 1250px;
  }
  
  /* Bottom right text */
  .text-block {
=======
    max-width: 300px;
}

/* Bottom right text */
.text-block {
>>>>>>> refs/remotes/origin/master
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
<<<<<<< HEAD
  }


  /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
=======
}
/* ####################################### gallery ############################################ */
.grid-container {
    --coulmbs: 3;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(var(--coulmbs), minmax(0, 1fr));
}
.images {
    display: grid;
    align-content: flex-start;
    grid-gap: 20px;
    grid-template-columns: minmax(0, 1fr);
}
.image {
    filter: grayscale(1);
    transition: all 500ms;
    position: relative;
}
.image::before {
    content: "";
    width: 110%;
    height: 100%;
    transform: scaley(0);
    transition: all 500ms;
    top: 0%;
    left: -5%;
    position: absolute;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
}
.image::after {
    content: "";
    width: 100%;
    height: 100%;
    transform: scalex(0);
    transition: all 500ms;
    left: 0%;
    top: 0%;
    position: absolute;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
}
.image:hover {
    filter: grayscale(0);
}
.image:hover::after {
    transform: scalex(0.9);
}
.image:hover::before {
    transform: scaley(0.9);
}
>>>>>>> refs/remotes/origin/master
